* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

p {
    line-height: 1.6;
}

header {
    color: white;
    background-image: url(../assets/images/BG.jpg);
    padding: 0 8rem;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 3rem 0;

        .links {
            width: 25rem;
            display: flex;
            justify-content: space-between;
            list-style: none;

            li {
                padding: 0.5rem 1.4rem;
            }

            a {
                text-decoration: none;
                color: white;
            }

            .activado {
                border-radius: 25px;
                background: linear-gradient(to bottom, #2f3b45, #3d4a55);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.1);
            }
        }
    }

    .cabeza {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .telefono {
            width: 40%;
            align-self: flex-end;
        }

        .info {
            width: 45%;
            margin-bottom: 3rem;

            h1 {
                font-size: 3.5rem;
            }

            .parrafo1 {
                padding: 1rem 0;
            }

            .parrafo2 {
                color: #9a9a9b;
            }

            .botones {
                display: flex;
                width: 100%;
                align-items: center;
                padding-top: 2rem;

                p {
                    margin: 0 1rem;
                }

                button {
                    color: white;
                }

                .btn-1 {
                    background: linear-gradient(to bottom, #4eb3e6 0%, #2980b9 100%);
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                    padding: 1rem 2.6rem;
                    border-radius: 2rem;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.5);
                    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
                }

                .btn-2 {
                    color: white;
                    text-decoration: none;
                    border-bottom: 1px solid white;
                    font-weight: bold;
                }
            }
        }
    }
}

.seccion-1 {
    border-bottom: 1px solid #9a9a9b;
    background-color: #E7E7E7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    flex-wrap: wrap;
}

.seccion-2 {
    padding: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

    .tarjeta {
        width: 30%;

        .texto {
            margin: 1.5rem 0;

            h2 {
                font-weight: lighter;
                color: #4B5A65;
                margin-bottom: 0.5rem;
            }

            p {
                color: #A4A4A4;
            }
        }

        button {
            text-decoration: none;
            background: linear-gradient(to bottom, #6eb5e9 0%, #337ab7 100%);
            border: 1px solid #2e6da4;
            color: white;
            font-weight: bold;
            font-size: 1rem;
            padding: 1rem 1.8rem;
            border-radius: 0.4rem;
            box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.5), inset 0 -2px 4px rgba(0, 0, 0, 0.3);
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
        }
    }
}

.seccion-3 {
    padding: 6rem;

    h2 {
        color: #4C5B66;
        font-weight: lighter;
        margin-bottom: 1.3rem;
    }

    .imagenes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .imagen {
            width: 22%;

            img {
                width: 100%;
            }
        }
    }
}

.seccion-4 {
    padding: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    h2 {
        color: #4C5B66;
        font-weight: lighter;
    }

    p {
        line-height: 1.8;
        color: #888888;
    }

    h3 {
        font-weight: lighter;
        color: #5C5C5C;
    }

    a {
        text-decoration: none;
        color: #3C92D0;
    }

    time {
        color: #B0B0B0;
        font-size: 0.9rem;
    }

    .contenedor1 {
        width: 50%;

        .texto1 {
            margin: 2rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .imagen {
                width: 25%;

                img {
                    width: 100%;
                }
            }

            .texto2 {
                width: 70%;

                .parrafo {
                    margin-bottom: 0.5rem;
                }
            }
        }
    }

    .contenedor2 {
        width: 40%;

        .parrafos {
            margin: 1.5rem 0;

            span {
                color: #515151;
            }

            .tweets {
                margin-bottom: 0.5rem;
            }
        }
    }
}

footer {
    border-top: 1px solid #E8E8E8;
    padding: 1rem 0;
    margin: 0 6rem;
    display: flex;
    justify-content: space-between;

    p {
        color: #8A8A8A;
    }

    .logos {
        display: flex;
        gap: 0.5rem;
    }
}

/* Media Queries */

@media(max-width: 1279px) {
    p {
        line-height: normal;
    }

    header {
        padding: 0 4rem;

        nav {
            padding: 2rem 0;
        }

        .cabeza {
            .telefono {
                width: 36%;
            }

            .info {
                margin-bottom: 2rem;
                width: 50%;

                h1 {
                    font-size: 2rem;
                }

                .botones {
                    .btn-1 {
                        padding: 1rem 0.7rem;
                        text-align: center;
                    }

                    p {
                        margin: 0 0.7rem;
                    }
                }
            }
        }
    }

    .seccion-2 {
        padding: 4rem;

        .tarjeta {
            width: 30%;
        }
    }

    .seccion-3 {
        padding: 4rem;
    }

    .seccion-4 {
        padding: 4rem;

        p {
            line-height: normal;
        }

        .contenedor1 {

            .texto1 {
                margin: 1.5rem 0;

                .imagen {
                    width: 28%;
                }

                .texto2 {
                    width: 68%;
                }
            }
        }
    }

    footer {
        margin: 0 4rem;
    }
}

@media(max-width: 920px) {
    header {
        padding: 0 3rem;

        .cabeza {

            .info {
                width: 55%;
            }
        }
    }

    .seccion-2 {
        padding: 3rem;

        .tarjeta {
            width: 45%;
            margin: 2rem auto;
        }
    }

    .seccion-3 {
        padding: 3rem;
    }

    .seccion-4 {
        padding: 3rem;

        .contenedor1 {
            width: 100%;
            margin-bottom: 2rem;

            .texto1 {
                .imagen {
                    width: 30%;
                }

                .texto2 {
                    width: 65%;

                    h3 {
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }

        .contenedor2 {
            width: 100%;
        }
    }

    footer {
        margin: 0 3rem;
    }
}

@media(max-width: 768px) {
    header {
        nav {
            justify-content: center;

            img {
                margin-bottom: 1.8rem;
            }

            .links {
                width: 100%;
                justify-content: space-evenly;
            }
        }

        .cabeza {
            flex-wrap: wrap-reverse;

            .telefono {
                width: 80%;
                margin: auto;
            }

            .info {
                width: 100%;
                text-align: center;

                p {
                    text-align: justify;
                }

                .botones {
                    justify-content: center;
                }
            }
        }
    }

    .seccion-2 {
        padding: 1rem 2rem;

        .tarjeta {
            width: 70%;
        }
    }

    .seccion-3 {
        padding: 2rem;

        .imagenes {
            justify-content: space-evenly;
            gap: 1rem;

            .imagen {
                width: 45%;
            }
        }
    }

    .seccion-4 {
        padding: 2rem;
    }

    footer {
        margin: 0 2rem;
        align-items: center;
    }
}

@media(max-width: 480px) {
    header {
        padding: 0 2rem;

        nav {
            .links {
                justify-content: space-between;

                li {
                    padding: 0.5rem 0.8rem;
                }
            }
        }

        .cabeza {
            .info {

                h1 {
                    font-size: 1.8rem;
                }

                .botones {

                    .btn-1,
                    .btn-2 {
                        font-weight: normal;
                    }
                }
            }
        }
    }

    .seccion-1 {
        justify-content: space-evenly;

        img {
            width: 13%;
        }
    }

    .seccion-2 {
        .tarjeta {
            width: 100%;
        }
    }

    .seccion-4 {

        .contenedor1 {
            .texto1 {
                flex-wrap: wrap;

                .imagen {
                    width: 70%;
                    margin: 0 auto 1rem;
                }

                .texto2 {
                    width: 100%;

                    p {
                        text-align: justify;
                    }
                }
            }
        }

        .contenedor2 {
            p {
                text-align: justify;
                margin-bottom: 0.5rem;
            }
        }
    }

    footer {
        display: block;

        p {
            margin-bottom: 1rem;
            text-align: center;
        }

        .logos {
            margin: auto;
            width: 50%;
            justify-content: space-around;
            gap: 0;
        }
    }
}